.App {
  text-align: center;
}




.App-header {
  margin-top: 15px;
  background-color: rgba(0,0,0.2,0.5);
  height: 120px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: pink;
  width: 100%;
  margin-bottom: 20px;
}

.App-header h1 {
  float: left;
  font-family: 'fangsong';
  font-size: 65px ;
  position: relative;
  top: 8px;
  left: 20px
}

.App-header .navbar {
  font-weight: 300;
  padding-top: 30px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  flex: 1;
  flex-direction: 'row';
  background-color: '#eaf6f8';
  border-radius: 10;
  box-shadow: 3px 3 px 5px 6px rgb(14, 14, 14) ;
  border-width: 3;
  border-radius: 10px;
}



.list-group-item {
  padding: 2px;
}

input[type=text] {
  box-sizing: border-box;
  margin:10px 0;
  
}

input[type=textarea]{
  box-sizing: border-box;
  margin: 10px; 
  border-radius: 10px;
}
