.App {
  text-align: center;
}




.App-header {
  margin-top: 15px;
  background-color: rgba(0,0,0.2,0.5);
  height: 120px;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: pink;
  width: 100%;
  margin-bottom: 20px;
}

.App-header h1 {
  float: left;
  font-family: 'fangsong';
  font-size: 65px ;
  position: relative;
  top: 8px;
  left: 20px
}

.App-header .navbar {
  float: right;
  padding-top: 30px
}

.App-link {
  color: #61dafb;
}


